**/node_modules
**/.next
**/out
**/dist
**/build
**/.git
**/.gitignore
**/.env*
!.env.production
**/README.md
**/.DS_Store
**/coverage
**/test-results
**/playwright-report
**/blob-report
**/playwright/.cache
automation/
docs/
